# Ignore everything here except presets shipped with yazpt
*
!.gitignore
!README.md
!default-preset.zsh
!dense-preset.zsh
!elementary-preset.zsh
!elite-preset.zsh
!jakshin-preset.zsh
!purity-preset.zsh
!sapphire-preset.zsh
!spearmint-preset.zsh
!technocrat-preset.zsh
!yolo-preset.zsh
